.App {
	text-align: center;
	justify-content: center;
}

.top {
	width: 85%;
	margin: auto;
	color: rgb(44, 46, 54);
	background-color: #fff;
	display: flex;
	box-shadow: 0 0 3px rgb(44, 46, 54);
	z-index: 1000;
}

.menu-list {
	flex: 1;
	display: flex;
	padding: 5px;
	list-style: none;
}

.menu-item {
	flex: 1;
	margin: 0;
	padding: 10px;
	justify-items: flex-end;
}

a:link,
.clickable-p {
	text-decoration: none;
	user-select: none;
}

a:visited {
	color: rgb(44, 46, 54);
}

a:hover,
.clickable-p:hover {
	color: rgb(197, 14, 14);
	cursor: pointer;
}

.menu-title {
	flex: 5;
	font-size: 24px;
	justify-items: start;
	padding: 10px;
	text-align: left;
}

.container {
	margin: auto;
	display: flex;
	flex-flow: wrap row;
	margin-top: 5px;
}

.right-container {
	width: 75%;
}

.left-container {
	flex: 1;
	width: 24%;
	display: flex;
	flex-flow: wrap column;
	margin-top: 7px;
	margin-right: 7px;
}

@media all and (min-width: 1200px) {
	.container {
		width: 1200px;
	}
}

@media all and (min-width: 1000px) and (max-width: 1199px) {
	.container {
		width: 980px;
	}
}

@media all and (min-width: 1400px) {
	.gallery-image img {
		height: 250px !important;
	}
}

@media all and (max-width: 1400px) {
	.container {
		width: 980px;
	}

	.top {
		width: 100%;
	}

	.right-container {
		width: 72%;
	}

	.left-container {
		width: 26%;
	}

	.logout {
		grid-column: 1 / 4 !important;
	}
}

@media all and (min-width: 850px) and (max-width: 999px) {
	.container {
		width: 840px;
	}

	.right-container {
		width: 100%;
	}

	.left-container {
		order: 2;
		width: 100%;
		margin-right: 0;
		height: 350px;
	}

	.narrow-post {
		flex-basis: 40% !important;
	}

	.left-widget {
		flex-basis: 35% !important;
		max-height: 136px !important;
	}

	.github {
		margin-bottom: 3px !important;
		max-height: 308px !important;
	}

	.github-image {
		height: 225px !important;
	}

	.narrow-post > * {
		padding: 0 5px !important;
	}
}

@media all and (min-width: 700px) and (max-width: 849px) {
	.container {
		width: 650px;
	}

	.top {
		width: 100%;
	}

	.right-container {
		width: 100%;
	}

	.left-container {
		order: 2;
		width: 100%;
		margin-left: 7px;
	}

	.narrow-post {
		flex-basis: 100% !important;
	}

	.gallery-image {
		max-width: 49% !important;
		flex: 1 1 45% !important;
	}

	.logout {
		grid-column: 1 / 3 !important;
	}
}

@media all and (max-width: 849px) {
	.top {
		position: fixed !important;
		top: 0;
	}

	.container {
		margin-top: 59px;
	}

	.list-container {
		margin: 5px 0 !important;
	}

	.wide-post {
		margin-top: 0px !important;
	}

	.sign,
	.single {
		margin-top: 5px !important;
	}

	.post {
		margin-right: 0 !important;
		margin-left: 0 !important;
	}

	.comment-content {
		flex: 2 !important;
	}

	.left-widget {
		flex: 0 1 !important;
	}
}

@media all and (max-width: 699px) {
	.container {
		width: 95%;
	}

	.list-container {
		width: 100% !important;
	}

	.top {
		width: 100%;
	}

	.right-container {
		width: 100%;
	}

	.left-container {
		order: 2;
		flex-direction: column;
		width: 100%;
		margin-left: 7px;
	}

	.narrow-post {
		flex-basis: 100% !important;
	}

	.post > * {
		padding: 0 5px !important;
	}

	.gallery-image {
		max-width: 50% !important;
		flex: 1 1 45% !important;
	}

	.user-block {
		width: 95% !important;
	}

	.logout {
		grid-column: 1 / 3 !important;
	}
}

@media all and (max-width: 499px) {
	.sign-title {
		height: 110px !important;
	}

	.gallery-image {
		max-width: 100% !important;
		flex: 1 1 100% !important;
	}

	.logout {
		grid-column: 1 / 2 !important;
	}
}

@media all and (max-width: 572px) {
	.sign-title {
		height: 95px !important;
	}

	.logout {
		grid-column: 1 / 2 !important;
	}
}

@media all and (max-width: 415px) {
	.sign-title {
		height: 95px !important;
	}
}

@media all and (max-width: 355px) {
	.sign-title {
		height: 75px !important;
	}
}

.post,
.sign {
	margin: 10px;
	background-color: #fff;
	padding: 5px;
	box-shadow: 0 0 5px rgb(44, 46, 54);
}

.wide-post > *,
.narrow-post > *,
.post > * {
	text-align: left;
	padding: 0 20px;
}

.post-title,
.user-name {
	font-size: 22px;
	margin: 10px 0;
}

.post-image {
	display: block;
	object-fit: scale-down;
	max-width: 100%;
	max-height: 28rem;
}

.post-image-full {
	display: block;
	object-fit: cover;
	max-width: 100%;
}

.post-type {
	margin: 0 0 10px 20px;
}

.left-widget {
	padding: 10px;
	background-color: #fff;
	box-shadow: 0 0 2px rgb(44, 46, 54);
	margin: 3px;
	flex: 1 1;
}

.left-widget.input input {
	width: 90%;
	font-size: medium;
	padding-left: 3px;
	margin: auto;
	margin-top: 10px;
}

.left-widget.input button,
.sign-button,
.logout {
	margin-top: 10px;
	width: 93%;
	border: none;
	color: black;
	padding: 8px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	background-color: #e7e7e7;
}

.left-widget.input label {
	font-size: large;
}

.narrow-post {
	flex: 2 2 40%;
	margin: 10px;
	padding: 5px;
}

.pagination {
	margin: 10px 0;
	padding-left: 0;
	order: 1;
	flex-basis: 100%;
	width: 100%;
	display: flex;
	list-style: none;
	justify-content: center;
}

.pagination li {
	padding: 10px 15px;
	margin: 2px;
	box-shadow: 0 0 3px rgb(44, 46, 54);
}

.pagination a :hover {
	background-color: rgb(190, 184, 184);
}

.github {
	padding-top: 0;
	flex: 3;
	margin-bottom: 10px;
	height: 100%;
}

.github-image {
	width: 240px;
	height: 240px;
	object-fit: cover;
	box-shadow: 0 0 2px #2c2e36;
}

.github-icon {
	width: 22px;
	margin: 0 5px -4px 5px;
}

.github p {
	margin: 10px;
}
.repo {
	box-shadow: 0 0 1px rgb(44, 46, 54);
}

.post-footer {
	display: flex;
	justify-content: space-between;
	box-shadow: 0 -1px 5px rgb(44, 46, 54);
	flex-flow: row wrap;
}

.footer-element > img {
	color: #000;
	height: 20px;
	width: 20px;
}

.post-date {
	margin: 16px;
}

.footer-element {
	display: flex;
}

.footer-element img {
	margin: 16px 8px;
}

.single {
	margin-top: 15px;
	width: 100%;
}

.sign {
	justify-content: center;
	margin: auto;
	padding: 0;
	margin-top: 14px;
}

html,
body,
#root,
.App {
	height: 100%;
	background-color: #f6f7f8;
}

.sign-title {
	font-size: 30px;
	background-image: url('svgs/bg-01.jpg');
	background-size: 100%;
	height: 120px;
	opacity: 0.7;
	margin-bottom: 10px;
	color: #fff;
}

.sign-title div p {
	vertical-align: middle;
	margin: 0 40px 10px 40px;
	padding-top: 8%;
}

.sign-title div {
	height: 100%;
	background: rgba(27, 26, 70, 0.7);
}

.sign-input {
	font-size: medium;
	border-top: none;
	border-left: none;
	border-right: none;
	padding: 3px;
	margin: 10px;
	width: 85%;
}

.sign-input:focus,
.new-post-inputs input,
.new-post-inputs textarea,
.gallery-image input,
select {
	outline: none;
}

.sign-links {
	font-size: smaller;
	display: flex;
	justify-content: space-between;
	margin: 0 20px;
}

.sign-links p {
	margin: 5px;
}

.restore {
	height: 85px !important;
}

.restore div p {
	padding-top: 20px;
}

.sign-error {
	color: rgb(197, 14, 14);
}

.editor {
	margin: 5px;
	min-height: 400px;
	box-shadow: 0 0 2px rgb(44, 46, 54);
	padding: 7px;
	margin-bottom: 20px;
}

.editor-toolbar {
	display: flex;
	flex-direction: row;
}

.toolbar-btn.clickable-p {
	padding: 7px;
	box-shadow: 0 0px 2px rgb(44, 46, 54);
}

.toolbar-btn img {
	height: 20px;
}

.toolbar-btn p {
	margin: 0;
	font-size: 17px;
}

.tabs {
	font-size: 0;
	max-width: 100%;
	padding: 0;
}

.tabs > input[type='radio'] {
	display: none;
}

.tabs > div {
	display: none;
	border: 1px solid #e0e0e0;
	padding: 10px 15px;
	font-size: 16px;
}

#tab-btn-1:checked ~ #content-1,
#tab-btn-2:checked ~ #content-2,
#tab-btn-3:checked ~ #content-3 {
	display: block;
}

.tabs > label {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	user-select: none;
	background-color: #f5f5f5;
	border: 1px solid #e0e0e0;
	padding: 8px 8px;
	font-size: 16px;
	cursor: pointer;
}

.tabs > input[type='radio']:checked + label {
	background-color: #fff;
	color: rgb(14, 197, 14);
	border-bottom: 1px solid #fff;
}

.new-post-title {
	margin: 5px 5px 20px 5px;
}

.new-post-inputs input,
.new-post-inputs textarea,
.gallery-image input {
	width: 100%;
	font-size: large;
	border-left: none;
	border-right: none;
	border-top: none;
}

.new-post-inputs textarea {
	margin: 10px 0;
	resize: vertical;
	font-family: inherit;
	font-size: medium;
	height: 110px;
}

.gallery-image-list {
	flex-flow: row wrap;
	display: flex;
}

.gallery-image {
	max-width: 32%;
	flex: 1 1 30%;
	padding: 3px;
	box-shadow: 0 0px 2px rgb(44, 46, 54);
}

.gallery-image img {
	width: 100%;
	height: 230px;
	object-fit: cover;
}

.user-console {
	margin: 15px 0 0 0;
	padding: 0;
}

.img-input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.img-input + label {
	font-size: 1em;
	font-weight: 700;
	color: white;
	background-color: rgb(44, 46, 54);
	cursor: pointer;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
	margin: 10px;
	text-align: center;
}

.img-input:focus + label,
.img-input + label:hover {
	background-color: rgb(197, 14, 14);
}

p.or {
	text-align: center;
	font-size: larger;
}

.gallery-image input {
	width: 90%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-size: large;
}

.upload-button {
	margin-top: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

button:focus {
	outline: 1px solid rgb(197, 14, 14);
}

.select {
	display: flex;
	flex-direction: row;
}

.select * {
	margin-right: 20px;
}

.cat-select,
.select-item {
	line-height: 30px;
	position: relative;
	font-size: medium;
	border: none;
	padding: 5px;
}

.select label {
	padding-top: 5px;
}

input.categories {
	width: 40%;
	padding: 5px;
}

.post-content {
	padding-bottom: 20px;
}

.post-content img {
	max-width: 100%;
	object-fit: scale-down;
}

ul {
	margin: 0;
}

.text-center {
	text-align: center;
}

.moder-section {
	display: flex;
	flex-direction: row;
}

.verify {
	display: flex;
	flex-direction: row;
}

.moder-section div {
	width: 50%;
}

.moder-section button {
	width: 90%;
	font-size: medium;
	border: none;
	padding: 10px;
	background-color: #e7e7e7;
	margin-bottom: 2px;
}

.moder-section button:hover {
	color: rgb(197, 14, 14);
}

.moder-section .sign-button {
	margin: 0 0 2px 0;
	padding: 10px;
}

.user-page {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-auto-flow: row dense;
	grid-gap: 2vw;
}

.user-block {
	padding: 10px;
	box-shadow: 0 0 1px rgb(44, 46, 54);
}

.user-status {
	border-bottom: 1px solid #e0e0e0;
	padding: 1%;
}

.status {
	grid-row: 1 / 4;
}

.user-status:focus {
	outline: None;
}

.logout {
	grid-column: 1 / 5;
	width: 100%;
}

.categories {
	display: flex;
	flex-flow: row wrap;
}

.categories input {
	margin: 0 5px;
}

.categories div {
	margin: 5px;
}

.user-block .sign-button,
.logout {
	margin-top: 0;
	margin-bottom: 10px;
}

.article {
	height: 20px;
}

.rated {
	filter: invert(19%) sepia(94%) saturate(2525%) hue-rotate(353deg)
		brightness(83%) contrast(100%);
}

.edit-post {
	background-color: #fff;
	padding: 20px;
	box-shadow: 0 0 5px rgb(44, 46, 54);
	width: 90%;
}

.unverified {
	padding: 10px;
	color: red !important;
}

.green {
	color: rgb(14, 157, 14) !important;
}

.red {
	color: rgb(157, 14, 14) !important;
}

a {
	color: rgb(44, 46, 54);
}

.large {
	font-size: large;
}

.author-info p {
	text-align: center !important;
}

.author-info {
	flex: 1;
	box-shadow: 0 0 1px rgb(44, 46, 54);
	padding: 5px;
}

.author {
	font-size: large;
	margin-bottom: 5px;
	margin-top: 5px;
}

.role {
	margin: 8px;
	color: rgb(197, 14, 14);
}

.comment {
	display: flex;
	flex-wrap: wrap;
	box-shadow: 0 0 1px rgb(44, 46, 54);
	margin: 10px 0;
}

.comment-content {
	flex: 3;
	padding: 10px;
	min-width: 200px;
	box-shadow: 0 0 1px rgb(44, 46, 54);
}

.comment-content p {
	margin: 0;
}

.comments {
	padding: 0;
}

.comment .status {
	margin: 0;
	font-size: small;
}

.commented {
	font-size: x-small;
}

.box-supervisor {
	box-shadow: 0 0 3px rgb(197, 14, 14);
}

.new-comment {
	margin-top: 10px;
}

.lazy-load-image-loaded {
	display: block !important;
}

.comment-edit {
	padding-top: 15px;
}
